<!--The content below is only a placeholder and can be replaced.-->
<!--<h2 (click)="toHead()">改变传值</h2>-->
<!--<input [(ngModel)]="inputValue" type="text" [appHighlight] = "'red'" (outer)="runParent($event)">-->
<!--<app-header [msg]="title" (outer)="runParent($event)" #headerFunc></app-header>-->
<!--<div  [@routeAnimation]="routerState">-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--
<app-solt>
    <div l>
        <p>那么：<i>name</i></p>
    </div>
    &lt;!&ndash;<div class="r">&ndash;&gt;
        &lt;!&ndash;1111111111111111111111111&ndash;&gt;
    &lt;!&ndash;</div>&ndash;&gt;
    <div r>
        1111111111111111111111111
    </div>
</app-solt>
<nz-divider></nz-divider><br>
<div>
    <a [routerLink]="['/user']" [routerLinkActive]="'active'">用户模块</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a [routerLink]="['/product']" [routerLinkActive]="'active'">产品模块</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a [routerLink]="['/article']" [routerLinkActive]="'active'">评论模块</a>
</div>
-->
<!--{{10000|sexReform}}-->
<ng-scrollbar class="a" style="height: 500px"  #scrollable barClass="main-scrollbar" [invertY]="false" [compact]="false">
    <div style="padding-right: 20px">
        <br>
        <br>
        <button nz-button nzType="primary" (click)="add()">加法</button>
        <br>
        <br>
        <button nz-button (click)="reduce()">减法</button>
        <button nz-button (click)="trim2()">trim2</button>
        <app-loading></app-loading>
        <br>
        <br>
        <br>
        <div>Current Count: {{ (count$| async) }}</div>
        <br>
        <button id="increment" (click)="increment()">Increment</button>
        <br>
        <button id="decrement" (click)="decrement()">Decrement</button>
        <br>
        <button id="reset" (click)="reset()">Reset Counter</button>
        <br>
        <button id="login" (click)="login()">Reset Counter</button>
        <br>
        <input nz-input type="text" [(ngModel)]="title" appInputTrim>
    </div>
</ng-scrollbar>
