<ng-scrollbar>
    <div class="container">
        <br>
        <br>
        <app-breadcrumb [data] = '1'></app-breadcrumb>
        <br>
        <div>
            <div nz-row nzType="flex" nzJustify="space-between" style="min-width: 0">
                <span style=" white-space:pre">各     位好：</span><span>111</span>
            </div>
        </div>
        <br>
        <app-header [msg]="title" (outer)="runParent($event)" #headerFunc></app-header>
        <div [@routeAnimation]="routerState">
            <router-outlet></router-outlet>
        </div>
        <br>
        <br>
        <br>
        <button nz-button (click)="dispatch()">123123</button>
        <nz-tabset nzLinkRouter [nzSelectedIndex]="0" [nzLinkExact]="false">
            <nz-tab *ngFor="let item of tabsData">
                <a nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: item.path }" queryParamsHandling="merge">{{item.name}}</a>
                {{item.path + item.name }}
            </nz-tab>
        </nz-tabset>
    </div>
</ng-scrollbar>
